.LoveLetters{
    display: flex;
    justify-content: center;
    background-color: #E5DADA;
    padding: 64px 80px;
    min-height: 100vh;
    align-items: center;
}

.loveLettersBox{
    background-color: white;
    max-width: 1000px;
    border: 2px solid #DAB9C7;
    /* border: 2px solid var(--primary); */
    /* color: #9D7484; */
    padding: 64px 80px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}