body{
  background-color: #1A1816;
}

.App {
  text-align: center;
  color: var(--primary);
}

.navAnim{
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.navAnim.active{
  opacity: 1;
  height: auto;
  max-height: 144px;
  overflow: hidden;
}