body{
  background-image: url(./assets/Gradient.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 5898px; */
}

.App {
  text-align: center;
  color: var(--primary);
}

.navAnim{
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.navAnim.active{
  opacity: 1;
  height: auto;
  max-height: 144px;
  overflow: hidden;
}