body{
  background-image: url(./assets/Gradient.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 5898px; */
}

.App {
  text-align: center;
  color: var(--primary);
}

.navAnim{
  height: 0px;
  opacity: 0;
  transition: height 300ms ease-in-out, opacity 300ms ease-in-out;
}
.navAnim.active{
  opacity: 1;
  height: 144px;
}